<div id="cardPanel">
    <%- include('./cardComponent.ejs', {componentName:"Composant"}) %>
    <%- include('./cardComponent.ejs', {componentName:"Composant"}) %>
    <%- include('./cardComponent.ejs', {componentName:"Composant"}) %>
    <%- include('./cardComponent.ejs', {componentName:"Composant"}) %>
    <%- include('./cardComponent.ejs', {componentName:"Composant"}) %>
    <%- include('./cardComponent.ejs', {componentName:"Composant"}) %>
    <%- include('./cardComponent.ejs', {componentName:"Composant"}) %>
    <%- include('./cardComponent.ejs', {componentName:"Composant"}) %>
    <%- include('./cardComponent.ejs', {componentName:"Composant"}) %>
    <%- include('./cardComponent.ejs', {componentName:"Composant"}) %>
    <%- include('./cardComponent.ejs', {componentName:"Composant"}) %>
</div>